/* background.css */
html, body {
  min-height: 100%;
  position: relative;
}

.background-image {
  width: 110%;
  height: 110%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #F8F4E6;
  background-image: url('/images/halftone_1757036051.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}